@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400");
@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");


.board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.square {
  position: relative;
  width: 100px;
  height: 100px;
}

.selected {
  outline: 3px solid red;
}

.square .background,
.square .piece {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.background {
  pointer-events: none;
}

.piece{
  pointer-events: none;
}

body {
  font-family: 'Roboto', sans-serif;
}